<h1 class="govuk-heading-l">Applicant details</h1>

<opal-lib-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)" />

<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  <opal-lib-govuk-text-input
    labelText="Organisation name"
    labelClasses="govuk-label--s"
    inputId="create_casefile_applicant_organisation_name"
    inputName="create_casefile_applicant_organisation_name"
    inputClasses="govuk-input--width-20"
    [control]="form.get('create_casefile_applicant_organisation_name')"
    [errors]="formControlErrorMessages['create_casefile_applicant_organisation_name']"
  />
  <opal-lib-govuk-text-input
    labelText="Foreign authority reference"
    labelClasses="govuk-label--s"
    inputId="create_casefile_applicant_organisation_foreign_authority_reference"
    inputName="create_casefile_applicant_organisation_foreign_authority_reference"
    inputClasses="govuk-input--width-20"
    [control]="form.get('create_casefile_applicant_organisation_foreign_authority_reference')"
    [errors]="formControlErrorMessages['create_casefile_applicant_organisation_foreign_authority_reference']"
  />

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <app-cases-create-casefile-contact-details
    [form]="form"
    [formControlErrorMessages]="formControlErrorMessages"
    [fieldNames]="contactDetailsFieldNames"
  />

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <app-cases-create-casefile-address
    [form]="form"
    [formControlErrorMessages]="formControlErrorMessages"
    [fieldNames]="addressFieldNames"
    [countryAutocompleteItems]="countryAutocompleteItems"
  />

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <app-cases-create-casefile-bank-details
    [form]="form"
    [formControlErrorMessages]="formControlErrorMessages"
    [fieldNames]="bankFieldNames"
    [bankOptions]="bankOptions"
    [bankTypes]="bankTypes"
    [ukBankConditionalId]="ukBankConditionalId"
    [nonUkBankConditionalId]="nonUkBankConditionalId"
    [layout]="bankLayout"
  />
  <div class="govuk-button-group">
    <button
      id="returnToCaseDetails"
      class="govuk-button govuk-!-margin-bottom-0"
      type="submit"
      data-module="govuk-button"
    >
      Return to case details
    </button>
    <opal-lib-govuk-cancel-link id="cancelApplicantDetails" (linkClickEvent)="cancel.emit()">
      Cancel
    </opal-lib-govuk-cancel-link>
  </div>
</form>
