<h1 class="govuk-heading-l">Applicant details</h1>

<opal-lib-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)" />

<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  <opal-lib-govuk-text-input
    labelText="Title"
    labelClasses="govuk-label--s"
    inputId="create_casefile_applicant_individual_title"
    inputName="create_casefile_applicant_individual_title"
    inputClasses="govuk-input--width-10"
    [control]="form.get('create_casefile_applicant_individual_title')"
    [errors]="formControlErrorMessages['create_casefile_applicant_individual_title']"
  />
  <opal-lib-govuk-text-input
    labelText="First names"
    labelClasses="govuk-label--s"
    inputId="create_casefile_applicant_individual_first_names"
    inputName="create_casefile_applicant_individual_first_names"
    inputClasses="govuk-input--width-20"
    hintText="Include their middle names"
    [control]="form.get('create_casefile_applicant_individual_first_names')"
    [errors]="formControlErrorMessages['create_casefile_applicant_individual_first_names']"
  />
  <opal-lib-govuk-text-input
    labelText="Last name"
    labelClasses="govuk-label--s"
    inputId="create_casefile_applicant_individual_last_name"
    inputName="create_casefile_applicant_individual_last_name"
    inputClasses="govuk-input--width-20"
    [control]="form.get('create_casefile_applicant_individual_last_name')"
    [errors]="formControlErrorMessages['create_casefile_applicant_individual_last_name']"
  />

  <opal-lib-govuk-checkboxes fieldSetId="create_casefile_applicant_individual_add_aliases_fieldset" legendText="">
    <div
      opal-lib-govuk-checkboxes-item
      labelText="Add aliases"
      inputId="create_casefile_applicant_individual_add_aliases"
      inputName="create_casefile_applicant_individual_add_aliases"
      ariaControls="applicantAliasesConditional-conditional"
      [control]="form.get('create_casefile_applicant_individual_add_aliases')"
    ></div>
  </opal-lib-govuk-checkboxes>
  @if (form.controls.create_casefile_applicant_individual_add_aliases.value) {
    <div opal-lib-govuk-checkboxes-conditional conditionalId="applicantAliasesConditional">
        @for (
          aliasControl of aliasControls;
          let rowIndex = $index;
          track aliasControl['create_casefile_applicant_individual_alias_first_names'].inputId
        ) {
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-heading-m govuk-!-margin-0">Alias {{ rowIndex + 1 }}</h2>
            </legend>
            <opal-lib-govuk-text-input
              #aliasFirstField
              labelText="First names"
              [inputId]="aliasControl['create_casefile_applicant_individual_alias_first_names'].inputId"
              [inputName]="aliasControl['create_casefile_applicant_individual_alias_first_names'].inputName"
              inputClasses="govuk-input--width-20"
              [control]="
                form.get([
                  'create_casefile_applicant_individual_aliases',
                  rowIndex,
                  aliasControl['create_casefile_applicant_individual_alias_first_names'].controlName,
                ])
              "
              [errors]="
                formControlErrorMessages[
                  aliasControl['create_casefile_applicant_individual_alias_first_names'].controlName
                ]
              "
            />
            <opal-lib-govuk-text-input
              labelText="Last name"
              [inputId]="aliasControl['create_casefile_applicant_individual_alias_last_name'].inputId"
              [inputName]="aliasControl['create_casefile_applicant_individual_alias_last_name'].inputName"
              inputClasses="govuk-input--width-20"
              [control]="
                form.get([
                  'create_casefile_applicant_individual_aliases',
                  rowIndex,
                  aliasControl['create_casefile_applicant_individual_alias_last_name'].controlName,
                ])
              "
              [errors]="
                formControlErrorMessages[
                  aliasControl['create_casefile_applicant_individual_alias_last_name'].controlName
                ]
              "
            />
          </fieldset>
        }
        @if (aliasControls.length > 1) {
          <div class="govuk-!-margin-bottom-3">
            <a
              class="govuk-link govuk-link--no-visited-state"
              href=""
              (click)="removeAlias(aliasControls.length - 1, 'create_casefile_applicant_individual_aliases', $event)"
            >
              Remove <span class="govuk-visually-hidden">alias {{ aliasControls.length }}</span>
            </a>
          </div>
        }
        @if (aliasControls.length < 5) {
          <opal-lib-govuk-button
            buttonId="addApplicantAlias"
            buttonClasses="govuk-button--secondary govuk-!-margin-bottom-0"
            type="button"
            (buttonClickEvent)="addAlias(aliasControls.length, 'create_casefile_applicant_individual_aliases')"
          >
            Add another alias
          </opal-lib-govuk-button>
        }
    </div>
  }

  <opal-lib-moj-date-picker
    labelText="Date of birth"
    labelClasses="govuk-label--s"
    inputId="create_casefile_applicant_individual_date_of_birth"
    inputName="create_casefile_applicant_individual_date_of_birth"
    inputClasses="govuk-input--width-10"
    hintText="For example, 31/01/1980"
    [control]="form.controls.create_casefile_applicant_individual_date_of_birth"
    [maxDate]="yesterday"
    [errors]="formControlErrorMessages['create_casefile_applicant_individual_date_of_birth']"
    (dateChange)="setInputValue($event, 'create_casefile_applicant_individual_date_of_birth')"
  />
  <app-cases-create-casefile-date-of-birth-age
    [control]="form.controls.create_casefile_applicant_individual_date_of_birth"
  />

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <app-cases-create-casefile-contact-details
    [form]="form"
    [formControlErrorMessages]="formControlErrorMessages"
    [fieldNames]="contactDetailsFieldNames"
  />

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <app-cases-create-casefile-address
    [form]="form"
    [formControlErrorMessages]="formControlErrorMessages"
    [fieldNames]="addressFieldNames"
    [countryAutocompleteItems]="countryAutocompleteItems"
  />

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <app-cases-create-casefile-third-party
    [form]="form"
    [formControlErrorMessages]="formControlErrorMessages"
    [fieldNames]="thirdPartyFieldNames"
    checkboxFieldName="create_casefile_applicant_individual_send_correspondence_to_third_party"
    checkboxFieldsetId="create_casefile_applicant_individual_send_correspondence_to_third_party_fieldset"
    conditionalId="applicantThirdPartyConditional"
    roleLabel="applicant"
    [countrySelectOptions]="countrySelectOptions"
  />

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <app-cases-create-casefile-bank-details
    [form]="form"
    [formControlErrorMessages]="formControlErrorMessages"
    [fieldNames]="bankFieldNames"
    [bankOptions]="bankOptions"
    [bankTypes]="bankTypes"
    [ukBankConditionalId]="ukBankConditionalId"
    [nonUkBankConditionalId]="nonUkBankConditionalId"
    [layout]="bankLayout"
  />
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <app-cases-create-casefile-restricted-information
    [form]="form"
    [formControlErrorMessages]="formControlErrorMessages"
    checkboxFieldName="create_casefile_applicant_individual_restricted_information"
    reasonFieldName="create_casefile_applicant_individual_restricted_information_reason"
    checkboxFieldsetId="create_casefile_applicant_individual_restricted_information_fieldset"
    conditionalId="applicantRestrictedInformationConditional"
    checkboxLabel="Applicant’s personal information should not be shared"
  />

  <div class="govuk-button-group">
    <button class="govuk-button govuk-!-margin-right-4" id="returnToCaseDetails" type="submit">
      Return to case details
    </button>
    <span id="cancelApplicantDetails">
      <opal-lib-govuk-cancel-link (linkClickEvent)="cancel.emit()" />
    </span>
  </div>
</form>
