@if (editable() || readable()) {
  <div class="govuk-grid-column-two-thirds">
    <opal-lib-govuk-back-link (clickEvent)="handleBack()" />
    <h1 id="review-heading" class="govuk-heading-l" tabindex="-1">Check case details</h1>
    @if (draft(); as savedDraft) {
      @if (persistedResult(); as resolved) {
        <app-cases-draft-casefile-history [draft]="savedDraft" [context]="resolved.context" />
      }
    }
    @for (section of beforeTerms(); track section.id) {
      <app-cases-create-casefile-review-section
        [section]="section"
        [actionable]="editable() && section.id !== 'caseType'"
        (changeEvent)="handleChange($event)"
      />
    }
    <section id="review-orderTerms" tabindex="-1" aria-labelledby="review-order-terms-title">
      <h2 id="review-order-terms-title" class="govuk-heading-m">Order terms</h2>

      @for (card of cards(); track card.termId) {
        <div [id]="'review-order-term-' + card.termId" tabindex="-1">
          <app-cases-create-casefile-order-term-card [card]="card">
            <ng-container actions>
              @if (editable()) {
                <li
                  opal-lib-govuk-summary-list-row-action-item
                  class="govuk-summary-card__action"
                  actionName="Change"
                  [actionId]="'review-term-change-' + card.termId"
                  [visuallyHiddenText]="' ' + card.ariaLabel"
                  (linkClick)="handleTermChange(card.termId)"
                ></li>
                <li
                  opal-lib-govuk-summary-list-row-action-item
                  class="govuk-summary-card__action"
                  actionName="Remove"
                  [actionId]="'review-term-remove-' + card.termId"
                  [visuallyHiddenText]="' ' + card.ariaLabel"
                  (linkClick)="handleTermRemove(card.termId)"
                ></li>
              }
            </ng-container>
          </app-cases-create-casefile-order-term-card>
          @if (card.minor) {
            <app-cases-create-casefile-review-section
              [section]="card.minor"
              [actionable]="editable()"
              (changeEvent)="handleTermChange(card.termId)"
            />
          }
        </div>
      }
    </section>
    @for (section of afterTerms(); track section.id) {
      <app-cases-create-casefile-review-section
        [section]="section"
        [actionable]="editable()"
        (changeEvent)="handleChange($event)"
      />
    }
    @for (decisionDraft of decisionDrafts(); track decisionDraft.draft_casefile_id) {
      <app-cases-draft-casefile-decision (decisionEvent)="handleDecision()" />
    }
    @if (reviewable()) {
      <p class="govuk-body govuk-!-margin-top-6">
        <a
          id="create_casefile_review_delete"
          class="govuk-link govuk-link--no-visited-state"
          [href]="deleteUrl()"
          (click)="handleDelete($event)"
          >Delete case</a
        >
      </p>
    }
    @if (editable()) {
      <div class="govuk-button-group">
        <button id="create_casefile_review_submit" class="govuk-button" type="button" (click)="handleSubmit()">
          Submit for review
        </button>
        <opal-lib-govuk-cancel-link
          id="create_casefile_review_cancel"
          cancelLinkText="Cancel case creation"
          (linkClickEvent)="handleCancel()"
        />
      </div>
    }
  </div>
}
