<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">Order terms</h1>
  @if (cards().length === 0) {
    <p class="govuk-body">There are currently no order terms.</p>
  } @else {
    @for (card of cards(); track card.termId) {
      <section [attr.data-order-term-id]="card.termId" [attr.aria-label]="card.ariaLabel">
        <opal-lib-govuk-summary-card-list [summaryCardListId]="card.id" [cardTitle]="card.title" [headingLevel]="2">
          <ng-container actions>
            <li class="govuk-summary-card__action">
              <a
                class="govuk-link govuk-link--no-visited-state"
                [id]="card.id + '-change'"
                [href]="card.inputPath"
                (click)="$event.preventDefault(); handleChange(card.termId)"
              >
                <strong>Change</strong>
                <span class="govuk-visually-hidden">{{ card.title }}</span>
              </a>
            </li>
            <li class="govuk-summary-card__action">
              <a
                class="govuk-link govuk-link--no-visited-state"
                [id]="card.id + '-remove'"
                [href]="card.removePath"
                (click)="$event.preventDefault(); handleRemove(card.removePath)"
              >
                <strong>Remove</strong>
                <span class="govuk-visually-hidden">{{ card.title }}</span>
              </a>
            </li>
          </ng-container>
          <ng-container content>
            <opal-lib-govuk-summary-list [summaryListId]="card.id">
              @for (row of card.rows; track row.id) {
                <div opal-lib-govuk-summary-list-row [summaryListId]="card.id" [summaryListRowId]="row.id">
                  <ng-container name>{{ row.label }}</ng-container>
                  <ng-container value>{{ row.value }}</ng-container>
                </div>
              }
            </opal-lib-govuk-summary-list>
            @if (card.bankRows.length) {
              <opal-lib-govuk-details [id]="card.bankId" summaryText="Creditor details">
                <opal-lib-govuk-summary-list [summaryListId]="card.bankListId">
                  @for (bankRow of card.bankRows; track bankRow.id) {
                    <div
                      opal-lib-govuk-summary-list-row
                      [summaryListId]="card.bankListId"
                      [summaryListRowId]="bankRow.id"
                    >
                      <ng-container name>{{ bankRow.label }}</ng-container>
                      <ng-container value>{{ bankRow.value }}</ng-container>
                    </div>
                  }
                </opal-lib-govuk-summary-list>
              </opal-lib-govuk-details>
            }
          </ng-container>
        </opal-lib-govuk-summary-card-list>
      </section>
    }
  }
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <div class="govuk-button-group">
    <button class="govuk-button" id="create_casefile_order_terms_return" type="button" (click)="handleBack()">
      Return to case details
    </button>
    <button
      class="govuk-button govuk-button--secondary"
      id="create_casefile_order_terms_add"
      type="button"
      (click)="handleAddTerms()"
    >
      Add terms
    </button>
  </div>
</div>
