<div class="govuk-form-group govuk-character-count" [class.govuk-form-group--error]="!!errors">
  <div class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" [for]="inputId">{{ labelText }}</label>
  </div>
  <div [id]="inputId + '-hint'" class="govuk-hint">{{ hintText }}</div>

  @if (errors) {
    <p [id]="inputId + '-error-message'" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ errors }}
    </p>
  }

  <textarea
    class="govuk-textarea"
    [class.govuk-textarea--error]="!!errors"
    [id]="inputId"
    [name]="inputName"
    [rows]="rows"
    [formControl]="control"
    autocomplete="off"
    [attr.aria-describedby]="describedBy"
  ></textarea>

  <div [id]="inputId + '-with-hint-info'" class="govuk-hint govuk-character-count__message govuk-visually-hidden">
    You can enter up to {{ maxCharacterLimit }} characters
  </div>
  <div class="govuk-hint govuk-character-count__message govuk-character-count__status" aria-hidden="true">
    You have {{ remainingCharacterCount() }} character{{ remainingCharacterCount() === 1 ? '' : 's' }} remaining
  </div>
  <div class="govuk-character-count__sr-status govuk-visually-hidden" aria-live="polite">
    You have {{ remainingCharacterCount() }} character{{ remainingCharacterCount() === 1 ? '' : 's' }} remaining
  </div>
</div>
