<div class="govuk-form-group govuk-body" [class.govuk-form-group--error]="!!errors">
  <label class="govuk-label" [for]="inputId + '-autocomplete'">{{ labelText }}</label>
  @if (hintText) {
    <div [id]="inputId + '-hint'" class="govuk-hint">{{ hintText }}</div>
  }
  @if (errors) {
    <p [id]="inputId + '-autocomplete-error-message'" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error: </span>{{ errors }}
    </p>
  }
  <div #autocomplete [id]="inputId + '-autocomplete-container'"></div>
  <input [id]="inputId" [name]="inputName" type="hidden" [formControl]="control" />
</div>
