<h1 class="govuk-heading-l">Respondent details</h1>

<opal-lib-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)" />

<form (submit)="handleFormSubmit($event)" [formGroup]="form">
  <opal-lib-govuk-text-input
    labelText="Title"
    labelClasses="govuk-label--s"
    inputId="respondent_title"
    inputName="respondent_title"
    inputClasses="govuk-input--width-10"
    [control]="form.get('respondent_title')"
    [errors]="formControlErrorMessages['respondent_title']"
  />
  <opal-lib-govuk-text-input
    labelText="First names"
    labelClasses="govuk-label--s"
    inputId="respondent_first_names"
    inputName="respondent_first_names"
    inputClasses="govuk-input--width-20"
    hintText="Include their middle names"
    [control]="form.get('respondent_first_names')"
    [errors]="formControlErrorMessages['respondent_first_names']"
  />
  <opal-lib-govuk-text-input
    labelText="Last name"
    labelClasses="govuk-label--s"
    inputId="respondent_last_name"
    inputName="respondent_last_name"
    inputClasses="govuk-input--width-20"
    [control]="form.get('respondent_last_name')"
    [errors]="formControlErrorMessages['respondent_last_name']"
  />

  <opal-lib-govuk-checkboxes fieldSetId="respondent_add_aliases_fieldset" legendText="">
    <div
      opal-lib-govuk-checkboxes-item
      labelText="Add aliases"
      inputId="respondent_add_aliases"
      inputName="respondent_add_aliases"
      ariaControls="respondentAliasesConditional-conditional"
      [control]="form.get('respondent_add_aliases')"
    ></div>
    @if (form.get('respondent_add_aliases')?.value === true) {
      <div opal-lib-govuk-checkboxes-conditional conditionalId="respondentAliasesConditional">
        @for (
          aliasControl of aliasControls;
          let rowIndex = $index;
          track aliasControl['respondent_alias_first_names'].inputId
        ) {
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-heading-m govuk-!-margin-0">Alias {{ rowIndex + 1 }}</h2>
            </legend>
            <opal-lib-govuk-text-input
              #aliasFirstField
              labelText="First names"
              [inputId]="aliasControl['respondent_alias_first_names'].inputId"
              [inputName]="aliasControl['respondent_alias_first_names'].inputName"
              inputClasses="govuk-input--width-20"
              [control]="
                form.get(['respondent_aliases', rowIndex, aliasControl['respondent_alias_first_names'].controlName])
              "
              [errors]="formControlErrorMessages[aliasControl['respondent_alias_first_names'].controlName]"
            />
            <opal-lib-govuk-text-input
              labelText="Last name"
              [inputId]="aliasControl['respondent_alias_last_name'].inputId"
              [inputName]="aliasControl['respondent_alias_last_name'].inputName"
              inputClasses="govuk-input--width-20"
              [control]="
                form.get(['respondent_aliases', rowIndex, aliasControl['respondent_alias_last_name'].controlName])
              "
              [errors]="formControlErrorMessages[aliasControl['respondent_alias_last_name'].controlName]"
            />
          </fieldset>
        }
        @if (aliasControls.length > 1) {
          <div class="govuk-!-margin-bottom-3">
            <a
              class="govuk-link govuk-link--no-visited-state"
              href=""
              (click)="removeAlias(aliasControls.length - 1, 'respondent_aliases', $event)"
            >
              Remove <span class="govuk-visually-hidden">alias {{ aliasControls.length }}</span>
            </a>
          </div>
        }
        @if (aliasControls.length < 5) {
          <opal-lib-govuk-button
            buttonId="addRespondentAlias"
            buttonClasses="govuk-button--secondary govuk-!-margin-bottom-0"
            type="button"
            (buttonClickEvent)="addAlias(aliasControls.length, 'respondent_aliases')"
          >
            Add another alias
          </opal-lib-govuk-button>
        }
      </div>
    }
  </opal-lib-govuk-checkboxes>

  <opal-lib-moj-date-picker
    labelText="Date of birth"
    labelClasses="govuk-label--s"
    inputId="respondent_date_of_birth"
    inputName="respondent_date_of_birth"
    inputClasses="govuk-input--width-10"
    hintText="For example, 31/01/1980"
    [control]="form.get('respondent_date_of_birth')!"
    [maxDate]="yesterday"
    [errors]="formControlErrorMessages['respondent_date_of_birth']"
    (dateChange)="setInputValue($event, 'respondent_date_of_birth')"
  />
  <opal-lib-govuk-text-input
    labelText="National Insurance number"
    labelClasses="govuk-label--s"
    inputId="respondent_national_insurance_number"
    inputName="respondent_national_insurance_number"
    inputClasses="govuk-input--width-10"
    hintText="For example, QQ123456C"
    [control]="form.get('respondent_national_insurance_number')"
    [errors]="formControlErrorMessages['respondent_national_insurance_number']"
  />
  <opal-lib-govuk-text-area
    labelText="Other personal information"
    labelClasses="govuk-label--s"
    inputId="respondent_other_personal_information"
    inputName="respondent_other_personal_information"
    hintText="For example, passport number or military personnel details"
    [rows]="5"
    [characterCountEnabled]="true"
    [maxCharacterLimit]="200"
    [control]="form.get('respondent_other_personal_information')"
    [errors]="formControlErrorMessages['respondent_other_personal_information']"
  />

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-heading-m govuk-!-margin-0">Contact details</h2>
    </legend>
    <opal-lib-govuk-text-input
      labelText="Main email address"
      labelClasses="govuk-label--s"
      inputId="respondent_main_email_address"
      inputName="respondent_main_email_address"
      inputClasses="govuk-input--width-20"
      [control]="form.get('respondent_main_email_address')"
      [errors]="formControlErrorMessages['respondent_main_email_address']"
    />
    <opal-lib-govuk-text-input
      labelText="Other email address"
      labelClasses="govuk-label--s"
      inputId="respondent_other_email_address"
      inputName="respondent_other_email_address"
      inputClasses="govuk-input--width-20"
      [control]="form.get('respondent_other_email_address')"
      [errors]="formControlErrorMessages['respondent_other_email_address']"
    />
    <opal-lib-govuk-text-input
      labelText="Main telephone number"
      labelClasses="govuk-label--s"
      inputId="respondent_main_telephone_number"
      inputName="respondent_main_telephone_number"
      inputClasses="govuk-input--width-20"
      hintText="For international numbers include the country code"
      [control]="form.get('respondent_main_telephone_number')"
      [errors]="formControlErrorMessages['respondent_main_telephone_number']"
    />
    <opal-lib-govuk-text-input
      labelText="Other telephone number"
      labelClasses="govuk-label--s"
      inputId="respondent_other_telephone_number"
      inputName="respondent_other_telephone_number"
      inputClasses="govuk-input--width-20"
      hintText="For international numbers include the country code"
      [control]="form.get('respondent_other_telephone_number')"
      [errors]="formControlErrorMessages['respondent_other_telephone_number']"
    />
  </fieldset>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-heading-m govuk-!-margin-0">Address</h2>
    </legend>
    <opal-lib-govuk-text-input
      labelText="Address line 1"
      inputId="respondent_address_line_1"
      inputName="respondent_address_line_1"
      [control]="form.get('respondent_address_line_1')"
      [errors]="formControlErrorMessages['respondent_address_line_1']"
    />
    <opal-lib-govuk-text-input
      labelText="Address line 2"
      inputId="respondent_address_line_2"
      inputName="respondent_address_line_2"
      [control]="form.get('respondent_address_line_2')"
      [errors]="formControlErrorMessages['respondent_address_line_2']"
    />
    <opal-lib-govuk-text-input
      labelText="Address line 3"
      inputId="respondent_address_line_3"
      inputName="respondent_address_line_3"
      [control]="form.get('respondent_address_line_3')"
      [errors]="formControlErrorMessages['respondent_address_line_3']"
    />
    <opal-lib-govuk-text-input
      labelText="Address line 4"
      inputId="respondent_address_line_4"
      inputName="respondent_address_line_4"
      [control]="form.get('respondent_address_line_4')"
      [errors]="formControlErrorMessages['respondent_address_line_4']"
    />
    <opal-lib-govuk-text-input
      labelText="Address line 5"
      inputId="respondent_address_line_5"
      inputName="respondent_address_line_5"
      [control]="form.get('respondent_address_line_5')"
      [errors]="formControlErrorMessages['respondent_address_line_5']"
    />
    <opal-lib-govuk-text-input
      labelText="Postal or zip code"
      inputId="respondent_postal_or_zip_code"
      inputName="respondent_postal_or_zip_code"
      inputClasses="govuk-input--width-10"
      [control]="form.get('respondent_postal_or_zip_code')"
      [errors]="formControlErrorMessages['respondent_postal_or_zip_code']"
    />
    <opal-lib-alphagov-accessible-autocomplete
      labelText="Country"
      labelClasses="govuk-label--s"
      inputId="respondent_country_id"
      inputName="respondent_country_id"
      [showAllValues]="true"
      [autoCompleteItems]="countryAutocompleteItems"
      [control]="form.get('respondent_country_id')"
      [errors]="formControlErrorMessages['respondent_country_id']"
    />
  </fieldset>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-m">Third party details</h2>
  <opal-lib-govuk-checkboxes fieldSetId="respondent_send_correspondence_to_third_party_fieldset" legendText="">
    <div
      opal-lib-govuk-checkboxes-item
      labelText="Send correspondence to a third party"
      inputId="respondent_send_correspondence_to_third_party"
      inputName="respondent_send_correspondence_to_third_party"
      ariaControls="respondentThirdPartyConditional-conditional"
      [control]="form.get('respondent_send_correspondence_to_third_party')"
    ></div>
    @if (form.get('respondent_send_correspondence_to_third_party')?.value === true) {
      <div opal-lib-govuk-checkboxes-conditional conditionalId="respondentThirdPartyConditional">
        <opal-lib-govuk-text-input
          labelText="Name or organisation"
          inputId="respondent_third_party_name_or_organisation"
          inputName="respondent_third_party_name_or_organisation"
          [control]="form.get('respondent_third_party_name_or_organisation')"
          [errors]="formControlErrorMessages['respondent_third_party_name_or_organisation']"
        />
        <opal-lib-govuk-text-input
          labelText="Relationship to the respondent"
          inputId="respondent_third_party_relationship"
          inputName="respondent_third_party_relationship"
          [control]="form.get('respondent_third_party_relationship')"
          [errors]="formControlErrorMessages['respondent_third_party_relationship']"
        />
        <opal-lib-govuk-text-input
          labelText="Reference"
          inputId="respondent_third_party_reference"
          inputName="respondent_third_party_reference"
          [control]="form.get('respondent_third_party_reference')"
          [errors]="formControlErrorMessages['respondent_third_party_reference']"
        />
        <opal-lib-govuk-text-input
          labelText="Address line 1"
          inputId="respondent_third_party_address_line_1"
          inputName="respondent_third_party_address_line_1"
          [control]="form.get('respondent_third_party_address_line_1')"
          [errors]="formControlErrorMessages['respondent_third_party_address_line_1']"
        />
        <opal-lib-govuk-text-input
          labelText="Address line 2"
          inputId="respondent_third_party_address_line_2"
          inputName="respondent_third_party_address_line_2"
          [control]="form.get('respondent_third_party_address_line_2')"
          [errors]="formControlErrorMessages['respondent_third_party_address_line_2']"
        />
        <opal-lib-govuk-text-input
          labelText="Address line 3"
          inputId="respondent_third_party_address_line_3"
          inputName="respondent_third_party_address_line_3"
          [control]="form.get('respondent_third_party_address_line_3')"
          [errors]="formControlErrorMessages['respondent_third_party_address_line_3']"
        />
        <opal-lib-govuk-text-input
          labelText="Address line 4"
          inputId="respondent_third_party_address_line_4"
          inputName="respondent_third_party_address_line_4"
          [control]="form.get('respondent_third_party_address_line_4')"
          [errors]="formControlErrorMessages['respondent_third_party_address_line_4']"
        />
        <opal-lib-govuk-text-input
          labelText="Address line 5"
          inputId="respondent_third_party_address_line_5"
          inputName="respondent_third_party_address_line_5"
          [control]="form.get('respondent_third_party_address_line_5')"
          [errors]="formControlErrorMessages['respondent_third_party_address_line_5']"
        />
        <opal-lib-govuk-text-input
          labelText="Postal or zip code"
          inputId="respondent_third_party_postal_or_zip_code"
          inputName="respondent_third_party_postal_or_zip_code"
          inputClasses="govuk-input--width-10"
          [control]="form.get('respondent_third_party_postal_or_zip_code')"
          [errors]="formControlErrorMessages['respondent_third_party_postal_or_zip_code']"
        />
        <opal-lib-govuk-select
          labelText="Country"
          labelClasses="govuk-label--s"
          selectId="respondent_third_party_country_id"
          selectName="respondent_third_party_country_id"
          [options]="countrySelectOptions"
          [control]="form.get('respondent_third_party_country_id')!"
          [errors]="formControlErrorMessages['respondent_third_party_country_id']"
        />
      </div>
    }
  </opal-lib-govuk-checkboxes>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-m">Employer details</h2>
  <opal-lib-govuk-checkboxes fieldSetId="respondent_add_employer_details_fieldset" legendText="">
    <div
      opal-lib-govuk-checkboxes-item
      labelText="Add employer details"
      inputId="respondent_add_employer_details"
      inputName="respondent_add_employer_details"
      ariaControls="respondentEmployerConditional-conditional"
      [control]="form.get('respondent_add_employer_details')"
    ></div>
    @if (form.get('respondent_add_employer_details')?.value === true) {
      <div opal-lib-govuk-checkboxes-conditional conditionalId="respondentEmployerConditional">
        <opal-lib-govuk-text-input
          labelText="Employer name"
          inputId="respondent_employer_name"
          inputName="respondent_employer_name"
          [control]="form.get('respondent_employer_name')"
          [errors]="formControlErrorMessages['respondent_employer_name']"
        />
        <opal-lib-govuk-text-input
          labelText="Employee reference"
          inputId="respondent_employee_reference"
          inputName="respondent_employee_reference"
          [control]="form.get('respondent_employee_reference')"
          [errors]="formControlErrorMessages['respondent_employee_reference']"
        />
        <opal-lib-govuk-text-input
          labelText="Employer email address"
          inputId="respondent_employer_email_address"
          inputName="respondent_employer_email_address"
          [control]="form.get('respondent_employer_email_address')"
          [errors]="formControlErrorMessages['respondent_employer_email_address']"
        />
        <opal-lib-govuk-text-input
          labelText="Employer telephone number"
          inputId="respondent_employer_telephone_number"
          inputName="respondent_employer_telephone_number"
          hintText="For international numbers include the country code"
          [control]="form.get('respondent_employer_telephone_number')"
          [errors]="formControlErrorMessages['respondent_employer_telephone_number']"
        />
        <opal-lib-govuk-text-input
          labelText="Address line 1"
          inputId="respondent_employer_address_line_1"
          inputName="respondent_employer_address_line_1"
          [control]="form.get('respondent_employer_address_line_1')"
          [errors]="formControlErrorMessages['respondent_employer_address_line_1']"
        />
        <opal-lib-govuk-text-input
          labelText="Address line 2"
          inputId="respondent_employer_address_line_2"
          inputName="respondent_employer_address_line_2"
          [control]="form.get('respondent_employer_address_line_2')"
          [errors]="formControlErrorMessages['respondent_employer_address_line_2']"
        />
        <opal-lib-govuk-text-input
          labelText="Address line 3"
          inputId="respondent_employer_address_line_3"
          inputName="respondent_employer_address_line_3"
          [control]="form.get('respondent_employer_address_line_3')"
          [errors]="formControlErrorMessages['respondent_employer_address_line_3']"
        />
        <opal-lib-govuk-text-input
          labelText="Address line 4"
          inputId="respondent_employer_address_line_4"
          inputName="respondent_employer_address_line_4"
          [control]="form.get('respondent_employer_address_line_4')"
          [errors]="formControlErrorMessages['respondent_employer_address_line_4']"
        />
        <opal-lib-govuk-text-input
          labelText="Address line 5"
          inputId="respondent_employer_address_line_5"
          inputName="respondent_employer_address_line_5"
          [control]="form.get('respondent_employer_address_line_5')"
          [errors]="formControlErrorMessages['respondent_employer_address_line_5']"
        />
        <opal-lib-govuk-text-input
          labelText="Postal or zip code"
          inputId="respondent_employer_postal_or_zip_code"
          inputName="respondent_employer_postal_or_zip_code"
          inputClasses="govuk-input--width-10"
          [control]="form.get('respondent_employer_postal_or_zip_code')"
          [errors]="formControlErrorMessages['respondent_employer_postal_or_zip_code']"
        />
        <opal-lib-alphagov-accessible-autocomplete
          labelText="Country"
          labelClasses="govuk-label--s"
          inputId="respondent_employer_country_id"
          inputName="respondent_employer_country_id"
          [showAllValues]="true"
          [autoCompleteItems]="countryAutocompleteItems"
          [control]="form.get('respondent_employer_country_id')"
          [errors]="formControlErrorMessages['respondent_employer_country_id']"
        />
      </div>
    }
  </opal-lib-govuk-checkboxes>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-m">Restricted information</h2>
  <opal-lib-govuk-checkboxes fieldSetId="respondent_restricted_information_fieldset" legendText="">
    <div
      opal-lib-govuk-checkboxes-item
      labelText="Restrict the respondent’s personal information"
      inputId="respondent_restricted_information"
      inputName="respondent_restricted_information"
      ariaControls="respondentRestrictedInformationConditional-conditional"
      [control]="form.get('respondent_restricted_information')"
    ></div>
    @if (form.get('respondent_restricted_information')?.value === true) {
      <div opal-lib-govuk-checkboxes-conditional conditionalId="respondentRestrictedInformationConditional">
        <opal-lib-govuk-text-area
          labelText="Reason"
          labelClasses="govuk-label--s"
          inputId="respondent_restricted_information_reason"
          inputName="respondent_restricted_information_reason"
          [rows]="5"
          [characterCountEnabled]="true"
          [maxCharacterLimit]="250"
          [control]="form.get('respondent_restricted_information_reason')"
          [errors]="formControlErrorMessages['respondent_restricted_information_reason']"
        />
      </div>
    }
  </opal-lib-govuk-checkboxes>

  <div class="govuk-button-group">
    <button class="govuk-button govuk-!-margin-right-4" id="returnToCaseDetails" type="submit">
      Return to case details
    </button>
    <span id="cancelRespondentDetails">
      <opal-lib-govuk-cancel-link (linkClickEvent)="cancel.emit()" />
    </span>
  </div>
</form>
