<h1 class="govuk-heading-l">Create a case</h1>

<opal-lib-govuk-error-summary [errors]="formErrorSummaryMessage" (errorClick)="scrollTo($event)" />

<form (submit)="handleFormSubmit($event)">
  <div class="govuk-form-group" [class.govuk-form-group--error]="!!formControlErrorMessages['caseType']">
    <fieldset
      id="caseType"
      class="govuk-fieldset"
      [attr.aria-describedby]="formControlErrorMessages['caseType'] ? 'caseType-error-message' : null"
    >
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Select a case type</legend>
      @if (formControlErrorMessages['caseType']) {
        <p id="caseType-error-message" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {{ formControlErrorMessages['caseType'] }}
        </p>
      }

      <div class="govuk-radios">
        @for (option of caseTypeOptions; track option.key) {
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              [id]="'caseType-' + option.key"
              name="caseType"
              type="radio"
              [value]="option.value"
              [attr.value]="option.value"
              [attr.aria-controls]="option.value === caseTypes.REMO_IN ? applicantTypeConditionalId : null"
              [attr.aria-describedby]="option.value === caseTypes.REMO_IN ? 'caseType-remo-in-description' : null"
              [formControl]="caseTypeControl"
            />
            <label class="govuk-label govuk-radios__label" [for]="'caseType-' + option.key">
              {{ option.value }}
            </label>
            @if (option.value === caseTypes.REMO_IN) {
              <span id="caseType-remo-in-description" class="govuk-visually-hidden">
                Selecting REMO In reveals the required applicant type field.
              </span>
            }
          </div>

          @if (option.value === caseTypes.REMO_IN) {
            <div
              class="govuk-radios__conditional"
              [class.govuk-radios__conditional--hidden]="caseTypeControl.value !== caseTypes.REMO_IN"
              [id]="applicantTypeConditionalId"
            >
              <div
                class="govuk-form-group"
                [class.govuk-form-group--error]="!!formControlErrorMessages['applicantType']"
              >
                <label class="govuk-label govuk-label--s" for="applicantType">Select applicant type</label>
                @if (formControlErrorMessages['applicantType']) {
                  <p id="applicantType-error-message" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ formControlErrorMessages['applicantType'] }}
                  </p>
                }
                <select
                  id="applicantType"
                  name="applicantType"
                  class="govuk-select"
                  [class.govuk-select--error]="!!formControlErrorMessages['applicantType']"
                  [attr.aria-invalid]="formControlErrorMessages['applicantType'] ? 'true' : null"
                  [attr.aria-describedby]="
                    formControlErrorMessages['applicantType'] ? 'applicantType-error-message' : null
                  "
                  [formControl]="applicantTypeControl"
                >
                  <option [ngValue]="null">Select</option>
                  @for (applicantType of applicantTypes; track applicantType) {
                    <option [ngValue]="applicantType">{{ applicantType }}</option>
                  }
                </select>
              </div>
            </div>
          }
        }
      </div>
    </fieldset>
  </div>

  <div class="govuk-button-group">
    <button class="govuk-button govuk-!-margin-right-4" id="continue" type="submit">Continue</button>
    <span id="cancelCaseType">
      <opal-lib-govuk-cancel-link (linkClickEvent)="cancel.emit()" />
    </span>
  </div>
</form>
